@import "../../../../styles/responsive.scss";

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;

  @include sm {
    margin-bottom: 50px;
    margin-left: 0px;
  }

  ul {
    display: flex;
    flex-direction: column;
    left: 0;
    gap: 50px;

    @include sm {
      flex-direction: row;
      gap: 80px;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
      list-style-type: none;
      font-size: 30px;
      font-weight: 500;

      @include sm {
        flex-direction: column;
      }

      span {
        width: 150px;

        @include sm {
          width: 100%;
          font-size: 20px;
        }
      }

      .sidebar-btns {
        display: flex;
        gap: 20px;

        @include sm {
          gap: 50px;
        }
      }
    }
  }
}
