@import "../../../../styles/responsive.scss";

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid gray;
  width: 850px;
  height: 500px;
  gap: 10px;
  border-radius: 8px;
  background-color: rgb(136, 245, 200);
  z-index: 1000;
  position: absolute;

  @include sm {
    width: 450px;
    height: 300px;
    top: auto;
    position: absolute;
  }

  .timer-comtainer {
    font-size: 26px;
    margin-bottom: 40px;
  }

  .modal-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      width: 80px;
      height: 80px;
    }
  }

  .modal-actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
}
