.description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 800px;
  width: 100%;
  margin-top: 10px;

  .description {
    margin-left: 160px;

    a {
      font-weight: 500;
      font-size: 26px;
    }
  }
}
