button {
  background-color: #7653fc;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 30px;
  transition: ease 0.5s color;
  border: none;
}

button:hover {
  background-color: #8e76f0;
  cursor: pointer;
  color: #000000;
}
