@import "../../../../styles/responsive.scss";

.footer {
  width: 100%;
  background-color: #7653fc;
  bottom: 0;
  position: sticky;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    @include sm {
      padding: 10px;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      color: #ffffff;

      @include sm {
        font-size: 12px;
      }
    }

    .description-data {
    }

    .description-rules {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }
  }
}
