.data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .sidebar-section {
    flex: 1;
  }

  .main-section {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
