@import "../../../../styles//responsive.scss";

.header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #e5e5e5;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 100px;
  }
}
